body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

*{
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
    text-wrap: pretty;
}

html {
    scroll-behavior: smooth;
}


h1{
    font-size: 4rem;
    margin: 0;
    color: #2850b5;
}

/* NAVBAR */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 1.2rem;
}

.nav-item{
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    gap: 10px;
}

.toggle-button__list{
    display: none;
    margin-right: 20px;
}

@media (max-width: 607px) {
    .toggle-button__list{
        display: block;
    }

    .nav-list{
        display: none;
    }

    .nav{
        justify-content: right;
    }
}

/* INFORMACIÓN PERSONAL */

.personal-info__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mi-imagen{
    margin-top: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 0px #333;
    width: 300px;
    height: 300px;
    background: url('../images/FotoPerfil.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #2850b5;
}

.personal-info__container p{
    font-size: 1.3rem;
}

.sections__wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.info-list{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 1.2rem;
    justify-content: center;
    padding: 0;
}

.info-list li{
    border-radius: 100%;
    background-color: #2850b5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.info-list li:hover{
    transform: scale(1.1);
    transition: 1s;
}

.info-list li a i{
    color: #fff;
    font-size: 1.3rem;
}

h2{
    font-size: 2.6rem;
    color: #2850b5;
    margin: 0;
    padding: 0;
}

.section__container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.section__container p{
    font-size: 1.5rem;
}

.section__container hr {
    width: 100%;
    border: 2px solid #2850b5;
}

@media (max-width: 500px) {
    section {
        padding-left: 5px;
    }
    .section__container{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
}

/* SERVICIOS */

.servicios-h3{
    font-size: 2.3rem;
    margin: auto !important;
    margin-top: 50px !important;
    color: #2850b5;
}

.servicios__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

.servicio-card{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #333;
}

.servicio-card:hover{
    transform: scale(1.1);
    transition: 1s;
}


.servicio-img__container{
    width: 500px;
    height: 300px;
    margin: auto;
}

.servicio-img__container img{
    width: 100%;
    height: 100%;
}

.servicio-backend {
    width: 300px;
    height: 300px;
}

.servicio-card h3{
    font-size: 1.8rem;
    margin: auto;
    color: #2850b5;
}

.servicio-card p {
    font-size: 1.2rem;
    margin-left: 20px;
}

@media (max-width: 500px) {
    .servicios-h3{
        font-size: 2rem;
    }

    .servicio-card {
        width: 350px;
    }

    .servicio-img__container{
        width: 350px;
        height: 300px;
        margin: auto;
    }

    .servicios__wrapper{
        flex-direction: column;
    }
}

/* HABILIDADES */

.habilidades__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
}

.tech-icon {
    width: 70px;
    height: 70px;
}

.tech-icon:hover{
    transform: scale(1.1);
    transition: 1s;
}

.tech-icon img {
    width: 100%;
    height: 100%;
}

/* PROYECTOS */

.proyectos__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(auto-fill);
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.card-proyect{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #333;
    gap: 15px;
    height: 500px;
    padding: 10px;
}

.card-proyect:hover{
    transform: scale(1.1);
    transition: 1s;
}

.card-proyect h3{
    font-size: 1.8rem;
    margin: 0;
    color: #2850b5;
}

.card-proyect .card-links{
    color: #2850b5;
}

.card-proyect p {
    margin: 0;
    font-size: 1.2rem;
}

.card-img__container{
    width: 100%;
}

.card-img__container img{
    width: 100%;
}

.techs-proyect__container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.techs-proyect{
    width: 30px;
    height: 30px;
}

.techs-proyect img{
    width: 100%;
    height: 100%;
}

@media (max-width: 1317px) {
    .proyectos__wrapper{
        grid-template-columns: repeat(2, 400px);
    }
}

@media (max-width: 909px) {
    .proyectos__wrapper{
        grid-template-columns: repeat(1, 350px);
    }
    
}

/* TESTIMONIOS */

.testimonios__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}

.testimonio-card {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px #333;
    padding: 20px;
    gap: 20px;
}

.testimonio-card p {
    font-size: 1.2rem;
}

.testimonio-card h4 {
    font-size: 1.4rem;
    margin: 0;
}

.calificacion__container{
    width: 60px;
    height: 30px;
}

.calificacion__container img{
    width: 100%;
    height: 100%;
}

@media (max-width: 499px) {
    .testimonio-card {
        width: 90%;
    }

    .testimonio-card p {
        font-size: 1rem;
    }
}

/* CONTÁCTO */

.form__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.form-contact{
    width: 500px;
    min-height: 500px;
    box-shadow: 0px 0px 5px 0px #333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 40px;
    gap: 10px;
}

.form-control{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #2850b5;
}

.form-control input {
    border-radius: 6px;
    height: 30px;
    border: 1px solid #333;
    background-color: transparent;
}

.form-control textarea {
    border-radius: 6px;
    height: 150px;
    background-color: transparent;
}

.btn-form{
    background-color: #2850b5;
    height: 40px;
    color: #fff;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn-form:hover {
    background-color: #1d397f;
}

@media (max-width: 500px) {
    .form-contact{
        width: 100%;
    }

    .form-control{
        width: 100%;
    }
}

/* Modo oscuro */

body.dark-mode{
    background-color: #121212;
}

.nav.dark-mode{
    color: #fff;
}

.personal-info__container.dark-mode p{
    color: #fff;
}

.section__container.dark-mode p{
    color: #fff;
}

.tech-icon.dark-mode svg {
    stroke: #fff;  
}

.card-proyect.dark-mode {
    box-shadow: 0px 0px 5px 0px #fff;
}

.card-proyect.dark-mode .techs-proyect__container .techs-proyect svg {
    stroke: #fff;
}

.servicio-card.dark-mode{
    color: #fff;
    box-shadow: 0px 0px 5px 0px #fff;
}

.form-contact.dark-mode {
    box-shadow: 0px 0px 5px 0px #fff;
}

.form-contact.dark-mode .form-control input, .form-contact.dark-mode .form-control textarea {
    color: #fff;
}

.testimonio-card.dark-mode {
    color: #fff;
    box-shadow: 0px 0px 5px 0px #fff;
}